.zone-1 {
  background: brown;
  color: white;
  border: 3px solid #000;
}
.zone-2 {
  width: 100%;
  background: pink;
  color: white;
}
.zone-3 {
  width: 100%;
  background: gray;
  color: white;
}
.clear {
  clear: both;
}
@media (min-width: 768px) {
  .zone-1 {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .zone-1 {
    width: 970px;
  }
  .zone-2,
  .zone-3 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .zone-1 {
    width: 1170px;
  }
  .zone-2,
  .zone-3 {
    width: 50%;
    float: left;
  }
}
